.asleep {
    color: #1861D6 !important;
    text-align: center;
    font-family: "Open Sans" !important;
    font-size: 6em !important;
    font-weight: 800 !important;
    margin-top: 200px !important;
    line-height: 120%;
}